<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <style>
        .content {
            flex-grow: 1;
            padding: 20px;
        }

        .stats {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .stats .card {
            width: 48%;
        }
    </style>
</head>

<body>
    <%- include('../inc/top.ejs') %>
        <div class="content">
            <div class="stats">
                <div class="card text-center">
                    <div class="card-body">
                        <h2 class="card-title">12</h2>
                        <p class="card-text">People</p>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <h2 class="card-title">5</h2>
                        <p class="card-text">Departments</p>
                    </div>
                </div>
            </div>

            <input type="text" class="form-control mb-3" placeholder="Search here ...">
            <div class="dropdown mb-3">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Delivered</a>
                    <a class="dropdown-item" href="#">Canceled</a>
                </div>
            </div>
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th class="text-secondary">User</th>
                        <th class="text-secondary">Status</th>
                        <th class="text-secondary">Full name</th>
                        <th class="text-secondary">Phone number</th>
                        <th class="text-secondary">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr onclick="window.location='/auth/profile'">
                        <td class="text-secondary"><img src="https://via.placeholder.com/50" alt="User Image"> Andrew
                            Bojangles</td>
                        <td class="text-secondary">Active</td>
                        <td class="text-secondary">Mê Van A</td>
                        <td class="text-secondary">+79000010101</td>
                        <td class="text-secondary">lebaonh232@gmail.com</td>
                    </tr>
                    <tr>
                        <td class="text-secondary"><img src="https://via.placeholder.com/50" alt="User Image"> Nguyễn
                            Văn Quốc</td>
                        <td class="text-secondary">Active</td>
                        <td class="text-secondary">Nguyễn Quốc</td>
                        <td class="text-secondary">+79000010101</td>
                        <td class="text-secondary">quoc@gmail.com</td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item"><a class="page-link text-dark " href="#">1</a></li>
                    <li class="page-item"><a class="page-link  text-dark" href="#">2</a></li>
                    <li class="page-item"><a class="page-link  text-dark" href="#">3</a></li>
                    <li class="page-item"><a class="page-link  text-dark" href="#">4</a></li>
                    <li class="page-item"><a class="page-link  text-dark" href="#">...</a></li>
                    <li class="page-item"><a class="page-link  text-dark" href="#">10</a></li>
                    <li class="page-item"><a class="page-link  text-dark" href="#">NEXT</a></li>
                </ul>
            </nav>
        </div>
        <%- include('../inc/end.ejs') %>
</body>

</html>