body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.dashboard {
  background-color: #fff;
  padding: 2px;
  box-shadow: 0 2px 4px rbg(0,0,0,0.1);
}
.dashboard-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}