
body {
    font-family: Arial, sans-serif;
}

.card {
    margin-bottom: 8px;
}

.card .card-body {
    padding: 15px;
}

.card .progress {
    height: 6px;
}

.toggle-switch {
    display: inline-block;
    width: 34px;
    height: 20px;
    position: relative;
}

.toggle-switch input {
    display: none;
}

.toggle-switch input:checked+.slider {
    background-color: #007bff;
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.toggle-switch input:checked+.slider:before {
    transform: translateX(14px);
}

.modal-content {
    border-radius: 10px;
}

.modal-body {
    padding: 2rem;
}

.form-label {
    margin-bottom: 0.5rem;
}

.form-control {
    margin-bottom: 1rem;
    border-radius: 5px;
    height: calc(2.25rem + 2px);
}

.modal-footer {
    display: flex;
    justify-content: center;
    border-top: none;
}

.btn-cancel {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: #6c757d;
    margin-right: 10px;
}

.btn-save {
    background-color: #6366f1;
    border: none;
    color: white;
}
