<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm sản phẩm</title>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.0.1/dist/css/multi-select-tag.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <style>
        .main-content {
            margin-left: 30px;
            margin-right: 30px;
        }

        .form-control:disabled,
        .form-control[readonly] {
            background-color: #e9ecef;
            opacity: 1;
        }

        .img-thumbnail {
            width: 100px;
            height: auto;
        }
    </style>
</head>

<body>
    <%- include('../../inc/top.ejs') %>
        <div class="main-content">
            <h1>Thêm sản phẩm</h1>
            <form action="/api/addshoe" method="POST" enctype="multipart/form-data">
                <div class="row mb-3">
                    <div class="col-12">
                        <img src="https://via.placeholder.com/200x100" class="img-fluid" alt="Product Image">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="thumbnail" class="form-label">Ảnh thumbnail:</label>
                            <input type="file" class="form-control" id="thumbnail" name="thumbnail">
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Tên sản phẩm:</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Giá:</label>
                            <input type="number" class="form-control" id="price" name="price">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Mô tả:</label>
                            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="productImage" class="form-label">Ảnh sản phẩm:</label>
                            <input type="file" class="form-control" id="productImage" name="imageShoe" multiple>
                        </div>
                        <div class="mb-3">
                            <label for="brand" class="form-label">Hãng:</label>
                            <select class="form-select" id="brand" name="typerShoeId">
                                <option value="adidas">Adidas</option>
                                <option value="puma">Puma</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="size" class="form-label">Chọn Size:</label>
                            <select name="sizeShoe[]" id="size" multiple>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="color" class="form-label">Chọn Màu:</label>
                            <select name="colorShoe[]" id="color" multiple>
                                <option value="xanh">Xanh</option>
                                <option value="do">Đỏ</option>
                                <option value="tim">Tím</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="reset" class="btn me-2" style="width: 150px; height: 40px;background-color: #f6f6f6;color: #4340DA;">Cancel</button>
                    <button type="submit" class="btn text-white" style="width: 150px; height: 40px;background-color: #4340DA;">Save</button>
                </div>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.0.1/dist/js/multi-select-tag.js"></script>
        <script>
            new MultiSelectTag('size');  // id
            new MultiSelectTag('color', {
                rounded: true,    // default true
                shadow: true,      // default false
                placeholder: 'Search',  // default Search...
                tagColor: {
                    textColor: '#327b2c',
                    borderColor: '#92e681',
                    bgColor: '#eaffe6',
                },
                onChange: function (values) {
                    console.log(values)
                }
            });
        </script>
    <%- include('../../inc/end.ejs') %>
</body>

</html>
